.top{
    position: fixed;
    bottom: 30px;
     right: 10px; 
     z-index:100;
     background-color: rgb(228, 228, 228);
    height: 50px;
    width: 50px;
    border-radius: 50%;
     border:1px solid rgb(202, 202, 202);
}
.icon{
    height: 20px;
    width: auto;
}