.viewer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.viewer-content {
  background: #fff;
  width: 90%;
  max-width: 900px;
  height: 85vh;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: -45px;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.viewer-body {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.pdf-frame {
  width: 100%;
  height: 100%;
  border: none;
}

.img-preview {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}