.firstColumn{
    display: flex;
    height: max-content;
    flex-direction: column;
    height: 40vh;
}
.footer{
    background-color: #ffffff;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.firstColumn .logo{

    display: flex;
    justify-content: space-between;
    max-width: 300px;
    align-items: center;
    gap: 20px;
}
.firstColumn .logo img{
    height: 50px;
    width: auto;
}
.social img{
    height: 20px;
    width: auto;
}
.social{
    display: flex;
    
    margin-top: 10px;
    gap: 5px;
    margin-bottom: 20px;
}
.social button{
    max-width: 50px;
    height: max-content;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
}

.secondColumn{
    display: flex;
    flex-direction: column;
    
}

@media (max-width:600px) {
    .footer{
        flex-direction: column;
    }
}