.panel{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: space-between;
    height: max-content;
    gap: 10px;
    margin: 20px;
    margin-bottom: 50px;
}
.panel input{
    padding: 10px;
}